.venv
**/__pycache__
.mypy_cache
.ruff_cache
.pytest_cache
build
dist
website/node_modules
website/.next
website/out
data
raw_data
study_data
nnUNet_raw
nnUNet_preprocessed
nnUNet_results
**/*.nii
**/*.nii.gz
**/*.dcm
.env
.env.*
kaggle.json
